
/* ==================== HOME ==================== */

h1{
  font-family: "Lucida Console", "Courier New", monospace;
  text-align: center;
}

h2{
  font-family: "Lucida Console", "Courier New", monospace;
  text-align: center;
}

img.allign-center {
  display: block;
  margin: auto;
}

img.allign-left {
  float: left;
  margin-right: 10px;
}

img.medium {
  width: 30%;
}

/* ==================== GENERAL ==================== */

#properText{
margin-top: auto;
margin-bottom: auto;
/*font-size: .4cm;*/
}

.header{
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
}

.photoContent{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}

.section{
    padding: 5%;
}

.subsection {
    margin-bottom: 5%;
}

.lastsub{
    padding-bottom: 5%;
}

/* fonts */
.p3 {
  font-family: "Lucida Console", "Courier New", monospace;
  /*font-size:16px; */
  color:black;
  text-align: center;
}

.p33 {
  font-family: "Lucida Console", "Courier New", monospace;
  /*font-size:16px; */
  color:black;
  text-align: left;
  margin-left: 5%;
  margin-right: 5%;

}

.p4 {
  font-family: "Lucida Console", "Courier New", monospace;
  font-size:30px;
  color:black;
  text-align: center;
}

.p4W {
  font-family: "Lucida Console", "Courier New", monospace;
  font-size:30px;
  color:whitesmoke;
  text-align: center;
}

.p44W {
  font-family: "Lucida Console", "Courier New", monospace;
  font-size:30px;
  color:whitesmoke;
  text-align: left;
}

.p3W {
  font-family: "Lucida Console", "Courier New", monospace;
  /*font-size:16px; */
  color:whitesmoke;
  text-align: center;
}

.p33W {
  font-family: "Lucida Console", "Courier New", monospace;
  /*font-size:16px; */
  color:whitesmoke;
  text-align: left;
  margin-left: 5%;
  margin-right: 5%;

}

.p44 {
  font-family: "Lucida Console", "Courier New", monospace;
  font-size:30px;
  color:black;
  text-align: left;
}

.p45 {
  font-family: "Lucida Console", "Courier New", monospace;
  font-size:30px;
  color:black;
  text-align: center;
}

.p1 {
  font-family: "Times New Roman", Times, serif;
}

.p2 {
  font-family: Arial, Helvetica, sans-serif;
}


.p6 {
  font-family: "Lucida Console", "Courier New", monospace;
  font-size:25px;
  color:#434343;
  text-align: center;
}

.p7 {
  font-family: "Lucida Console", "Courier New", monospace;
  color:#434343;
  text-align: left;
  font-size:15px;
}

.p8 {
  font-family: "Lucida Console", "Courier New", monospace;
  color:#434343;
  text-align: center;
  font-size:15px;
}

.p9 {
  font-family: "Lucida Console", "Courier New", monospace;
  color:#434343;
  text-align: center;
  font-size:15px;
}

.p10 {
  font-family: "Brush Script M7", "Lucida Handwriting", cursive;
  color:#434343;
  text-align: right;
  font-size:15px;
}



/* ==================== NAVS ==================== */


/* Style the navigation menu */
.navbar {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: black;
  text-align: center;

}

/* Navigation links */

.navbar ul {
  display: inline-flex;
  list-style: none;
}

.navbar ul li {
  width: 25%;
  margin-top: 15px;
  padding: 12px;
  margin-left: 25%;
}

.navbar ul li a {
  margin: 15px;
  padding: 15px;
  text-decoration: none;
  color: white;
  font-size: 17px;
  text-align: center; /* If you want the text to be centered */
}

.navbar ul li a.active {
  color: black;
}


/* Style the current/active link */
.active, .navbar ul li a:hover {
  background-color: #ffecbc;
  color: black;
  border-radius: 3px;
}

.sub-menu-Projects {
  display: none;
}

.sub-menu-Projects ul li a{
  color: black;
}

.navbar ul li:hover .sub-menu-Projects {
  display: block;
  position: absolute;
  background-color: #ffecbc;
  margin-top: 10px;
  margin-right: 10px;
  padding-right: 10px;
  padding-bottom: 11px;
  border-radius: 3px;
}

.navbar ul li:hover .sub-menu-Projects ul {
  display: block;
}

.navbar ul li:hover .sub-menu-Projects ul li {
  width: 140px;
  padding: 1px;
  border-bottom: 1px dotted black;
  background: transparent;
  border-radius: 0;
  text-align: left;
  margin-left: 0;
}

.navbar ul li:hover .sub-menu-Projects ul li:last-child {
  border-bottom: none;
}

/* Add responsiveness - on screens less than 500px, make the navigation links appear on top of each other, instead of next to each other */
@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
    width: 100%;
    text-align: left; /* If you want the text to be left-aligned on small screens */
  }
}

body {
    padding: 0px;
}

.container {
    margin-top: 70px;
}

/* Index / home stuff */
.containerIndex {
    margin-left: 7%;
    margin-right: 7%;
    margin-top: 70px;
    margin-bottom: 80px;
    text-align: center;
}

.contentBorder {
    border-radius: 5px;
    border: 2px solid #cee7f1;
    background-color: #fbfbfb;
    padding: 10px;
    height: auto;
}

/* ==================== end ==================== */

 /* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  /* float: right; */
  width: 50%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}
